.Dias {
    display: flex;
    align-items: center;
    width: 90%;
    height: 30px;
    padding-bottom: 0.7em;
}

.Dias h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #464646;
}

.consultas {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.5em;
}

.consultas h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.consultas p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: #A3A3A3;
}

.retangulo {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 25vh;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 1.5px black;
    gap: 0.7em;

}

.duracao {
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #464646;

}

.coluna {
    display: flex;
    gap: 1.0vw;
}

.foto {
    margin-top: 1em;
    margin-inline-start: 15px;
    display: flex;
    vertical-align: baseline;
    border-radius: 16px;
    width: 32px;
    height: 32px;
}

.chat {
    margin-top: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 8em;
    width: 32px;
    height: 32px;
    border-radius: 300px;
    border: none;
}

.informacao-cliente {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}

.btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.8em;
}

.video {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 139px;
    height: 48px;
    background: #FFB050;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    border-radius: 8px;
    border: none;
}

.audio {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #464646;
    width: 139px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.endereco {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    width: 296px;
    height: 48px;
    background: #4894FF;
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
    border-radius: 8px;
    border: none;
}

.barra {
    width: 328px;
    height: 1px;
    background: #464646;
    opacity: 0.1;
}
